@import url('https://fonts.googleapis.com/css?family=Montserrat');

[data-scroll] {
  transition: all 2s;
}
[data-scroll="in"] {
  opacity: 1;
}
[data-scroll="out"] {
  opacity: 0;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
}

section {
  height: 100vh;
  width: 100%;
  padding: 6em;
  box-sizing: border-box;
  color: white;

  h1 {
    font-size: 5em;
  }

  span {
    width: 50%;
    opacity: 0.8;
    line-height: 1.5em;
    font-size: 1.5em;
  }
}

section:nth-of-type(1) {
  background-color: rgb(20, 194, 238);
}

section:nth-of-type(2) {
  background-color: rgb(100, 53, 119);
}

section:nth-of-type(3) {
  background-color: rgb(197, 160, 59);
}

section:nth-of-type(4) {
  background-color: rgb(137, 180, 88);
}