<section>
  <h1>
    Lorem ipsum dolor sit amet.
  </h1>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos officia id facere vero praesentium consequatur, nemo perferendis velit porro adipisci! Voluptatum distinctio doloribus tempora placeat officia est amet facere rem.
  </p>
</section>
<section data-scroll>
  <h1>
    Lorem ipsum dolor sit amet.
  </h1>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos officia id facere vero praesentium consequatur, nemo perferendis velit porro adipisci! Voluptatum distinctio doloribus tempora placeat officia est amet facere rem.
  </p>
</section>
<section>
  <h1>
    Lorem ipsum dolor sit amet.
  </h1>
  <p data-scroll>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos officia id facere vero praesentium consequatur, nemo perferendis velit porro adipisci! Voluptatum distinctio doloribus tempora placeat officia est amet facere rem.
  </p>
</section>
<section data-scroll>
  <h1>
    Lorem ipsum dolor sit amet.
  </h1>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos officia id facere vero praesentium consequatur, nemo perferendis velit porro adipisci! Voluptatum distinctio doloribus tempora placeat officia est amet facere rem.
  </p>
</section>